@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;

  background-color: rgb(24, 30, 37);
  color: rgb(206, 212, 218);

  grid-template-rows: 1fr max-content 1fr;
}

#root {
  /* este é o id da div do conteúdo em geral */
}

.main {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
}

a {
  font-weight: bold;
  color: #5beb9e;
}

a:hover {
  font-style: italic;
}

.div {  
  color: #ff0000;
  display: flex;
  width: 100%;
  
  background-color: #06b6d4;
}

.div h1{ 
  color: #0000ff;
}


